{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}

<p id="admin_p">
    Welcome {{firstName}} , the time is now :- {{currentTime}}
    Your role in the system is {{role}}
    
</p>

<a href="/protected" id="a_for_protected">Protected</a>

<a href="/logout" id="a_for_logout"> Logout</a>