<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{header}}</h1>
    <h2>sucessfully deleted {{storeName}}</h2>
    <a href="/restaurant/restaurantSignup">Need to Sign Up? Click here</a>
</body>
</html>